@import "./color.scss";

.Jeux{
    overflow-y: scroll;
    width: 100%;
    margin-right: 32px;

    &::-webkit-scrollbar {
        display: none;
    }

    &>div{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h2{
            color: $font;
            font-size: 56px;
            margin: 0;
        }

        input{
            height: 32px;
            background-color: $tertiary;
            border: none;
            border-radius: 5px;
            min-width: 250px;
            padding-left: 16px;
            color: $font;

            &::placeholder {
                color: $font-variation;
            }
        }
    }

    &>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            list-style-type: none;
            width: 220px;
            margin: 8px 4px;
        }
    }
}



