@import "./color.scss";


nav{
    margin: 24px auto auto 24px;
    width: 200px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;

    #logo{
        height: 100%;
        margin-bottom: 32px;
    }

    :global(a) {
        color:$font-variation;
        text-decoration: none;
        margin-top: 20px;
        font-size: 1.2em;
        margin-bottom: 24px;
        display: flex;
        align-items: center;

        &:hover{
            color: $font;
        }
    }

    :global(.active){
        background-color: red;
    }

    &>button {
        margin-top: 50px;
        font-size: 1.2em;
        background-color: #03dac5;
        color: white;
        width: auto;
        border-radius: 10px;
        border: none;
        padding: 10px 50px 10px 50px;
    }

    img{
        height: 24px;
        margin-right: 24px;
    }

    #profil {
        border-radius: 50%;
    }
}