@import "./color.scss";


nav{
    margin: 24px auto auto 24px;
    width: 200px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;

    #logo{
        width: 100%;
        margin-bottom: 32px;
    }

    :global(a) {
        background-color: red;
        color:$font-variation;
        text-decoration: none;
        margin-top: 20px;
        font-size: 1.4em;
        margin-bottom: 24px;
    }

    &>button {
        margin-top: 50px;
        font-size: 1.4em;
        background-color: #03dac5;
        color: white;
        width: auto;
        border-radius: 10px;
        border: none;
        padding: 10px 50px 10px 50px;
    }

    img {
        width: 25px;
        margin-right: 30px;
    }

    #profil {
        border-radius: 50%;
    }
}