@import "./color.scss";


.Post{
    margin-top: 20px;
    background-color: $secondary;
    color:white;
    padding: 16px;

    &>div:first-child{
        display: flex;
        cursor: pointer;

        img{
            width: 32px;
            height: 32px;
            border-radius: 50px;
            object-fit: cover;
        }

        div{
            margin-left: 16px;

            &>span:first-child{
                font-weight: bold;
            }

            &>span:nth-child(2){
                color: $font-variation;
                margin-left: 8px;
            }
        }
    }

    img{
        width: 100%;
        cursor: pointer
    }

    .post-footer{
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        color: $font-variation;
        font-size: 14px;

        &>div:first-child{
            display: flex;
            &>span{
                display: flex;
                &>img{
                    height: 16px;
                    width: auto;
                    margin-right: 16px;
                }
            }

            &>span:nth-child(2){
                margin-left: 32px;
            }

        }
    }
}
