@import "./color.scss";

#Profil {
  width: 100%;
  margin-top: 35px;
  display: flex;

  .MidContainer {
    width: 65%;
  }

  & > div:first-child {
    overflow-y: scroll;
    margin-bottom: 24px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .LeftContainer {
    width: 35%;
  }

}
